---
name: client

"on":
  push:
    branches:
      - master
    tags:
      - v*

jobs:
  client:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        id: source
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4

      - name: Configure aws
        id: aws
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Run package
        id: package
        run: make package

      - name: Sign package
        id: gpgsign
        uses: actionhippie/gpgsign@v1
        with:
          private_key: ${{ secrets.GNUPG_KEY }}
          passphrase: ${{ secrets.GNUPG_PASSWORD }}
          detach_sign: true
          files: |
            dist/*.zip

      - name: Build changes
        id: changelog
        if: startsWith(github.ref, 'refs/tags/')
        uses: actionhippie/calens@v1
        with:
          version: ${{ github.ref }}

      - name: Upload release
        id: upload
        if: startsWith(github.ref, 'refs/tags/')
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          body: ${{ steps.changelog.outputs.generated }}
          artifacts: dist/*

      - name: Upload version
        id: version
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          aws s3 sync dist/ s3://dl.webhippie.de/minecraft/owntech/${{ github.ref_name }}/

      - name: Upload testing
        id: testing
        if: startsWith(github.ref, 'refs/heads/')
        run: |
          aws s3 sync dist/ s3://dl.webhippie.de/minecraft/owntech/testing/

...
