---
name: pages

"on":
  push:
    branches:
      - master

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        id: source
        uses: actions/checkout@v3

      - name: Setup hugo
        id: hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 0.84.0

      - name: Build pages
        id: docs
        run: hugo -s docs/

      - name: Deploy pages
        id: deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/public/

...
